.filterContainer {
  width: 100%;
  height: auto;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-shadow: 0px 1px 5px #434343;
  z-index: 1000;
  border-radius: none;
}

.sortWrapper {
  &__select {
    border-radius: 4px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    width: 105px;
    background-color: rgba(239, 67, 67, 1);
    color: #fff;
    border: none;
    padding: 5px;
  }
  :hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }
  &:focus {
    outline: none;
  }
}

.userContainer {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  &__userInput {
    height: 100%;
    max-width: 100px;
    padding: 5px;
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
      rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    background-color: #fff;
    &:focus {
      outline: none;
    }
  }

  &__filterBtn {
    width: 40px;
    height: 40px;
    border: none;
    padding: 5px;
    background-color: transparent;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: rgb(204, 219, 232) -3px 3px 6px 0px inset,
      rgba(255, 255, 255, 0.5) 3px 3px 6px 1px inset;
    cursor: pointer;
    &:hover {
      background-color: #f5f5f5;
    }
  }
}

@media screen and (min-width: 425px) {
  .filterContainer {
    width: 70%;
    height: auto;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}
